# General
.DS_Store
.vscode/
.idea/
*.log
*.swp

# Backend (Node.js / NestJS)
**/node_modules/
**/dist/
**/npm-debug.log
**/.env
**/coverage/

# Frontend (Flutter)
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/android/local.properties
**/ios/.generated/

# TTS Service (Python)
tts-service/venv/
tts-service/piper_bin/
tts-service/sherpa_models/
tts-service/voices/
tts-service/__pycache__/
tts-service/*.wav
*.onnx
*.pyc

# STT Service (Python)
stt-service/venv/
stt-service/__pycache__/
